*{
    margin: 0px;
    text-decoration: none;
    max-width: 1600px;

}

@font-face{
    font-family: fjallaCustom;
    src: url(fonts/FjallaOne-Regular.ttf);
}

@font-face{
    font-family: nevisCustom;
    src: url(fonts/nevis.ttf);

}

@font-face{
    font-family: websymbolCustom;
    src: url(fonts/websymbols-regular-webfont.ttf);
}

#cabeza{
    width: 100%;
    height: 250px;
    background-image: url(img/patron1.jpg);
    text-align: center;
}

#cabeza #logo{
    width: 135px;
    margin-top: 30px;
    box-shadow: 0px 0px 3px;
}

#cabeza h1{
    font-family: nevisCustom;
    font-size: 42px;
    word-spacing: 10px;
    color: #70B231;
    text-shadow: 1px 1px 3px black;
}

#menu{

    background-color: #333333;
    width: 100%;
    height: 40px;
}
#menu ul{
    margin-left: 300px;
}

#menu ul li{
    display: block;
    float: left;
    padding: 10px;
    border-right: 1px solid white;
}

#menu ul li a{
    color: white;
}

#ClearFloat{
    float: none;
    clear: both;
}

#contenedor{
    max-width: 1600px;
    width: 100%;
    background-image: url(img/patron1.jpg);
    height: 1700px;
    max-height: 1900px;
    padding-top: 50px;
}


#lateral{

    background-color: white;
    width: 15%;
    height: 820px;
    margin-left: 150px;
    float: left;
    box-shadow: 0px 0px 7px black;
    text-align: center;
    
}

#lateral h3{
    font-weight: bold;
    font-family: fjallaCustom;
}


#principal1 h2, #principal2 h2, #principal3 h2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: nevisCustom;
    
}

#principal1 h2{
    color: #333333;
}
#principal2 h2{
    color: #9B2422;
}
#principal3 h2{
    color: #D69D2A;
}

#principal1 ul, #principal2 ul, #principal3 ul{
    padding-top: 35px;
    margin-left: 15px;

}

#principal1 p, #principal2 p, #principal3 p{
    font-family:Arial, Helvetica, sans-serif;
    padding-right: 15px;
    color: rgb(89, 88, 88);

}

#principal1{
    background-color: white;
    width: 60%;
    height: 500px;
    margin-left: 30%;
    box-shadow: 0px 0px 7px black;

}

#principal2{
    background-color: white;
    width: 60%;
    height: 500px;
    margin-left: 30%;
    margin-top: 50px;
    box-shadow: 0px 0px 7px black;

}

#principal3{
    background-color: white;
    width: 60%;
    height: 500px;
    margin-left: 30%;
    margin-top: 50px;
    box-shadow: 0px 0px 7px black;
}

#lateral2{
    background-color: white;
    width: 15%;
    height: 120px;
    margin-left: -228px;
    margin-top: 870px;
    float: left;
    box-shadow: 0px 0px 7px black;

}

#lateral2 p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}

#lateral2 a{
    color: #22B14C;
}


#pie{
    background-color: #333333;
    width: 100%;
    height: 60px;
    text-align: center;

}

#pie p{
    padding-top: 10px;
    color: white;
}

#pie a{
    color: #22B14C;
}

h6{
    color: rgb(192,192,192,0.9);
    font-size: 15px;
}

strong{
    color: #22B14C;
}

hr{
    width: 90%;
    margin-left: 45px;
}

.login{
    width: 99%;
    margin-left: 0px;
    border: 1px dashed grey;
}

input[type="submit"]{
    background-color:#70B231;
    color: white;
    border-radius: 3px;
    margin-top: 5px;
    padding: 3px;
    width: 70px;
    border: 1px solid #70B231; 
}

input[type="text"]{

box-shadow: 0px 0px 3px silver;
border: 1px solid silver;
}

#lateral label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#lateral a{
    color: #70B231;
}
#enlaceslateral{
    text-align: left;
    color: #70B231;
}

.lateralSub{
    background-color: silver;
    margin-left: 20px;
    margin-right: 20px;
}

#lateral #lateralprimeroslinks{
    text-align: left;
    margin-left: 10px;
    margin-top: 5px;
}

/*#historicos1{

    color: green;
    margin-left: 78%;
}                         /*diseño del link del fondo

#historicos1 strong{    
    color: black;
}*/

#scotch{
    position: absolute;
    top: 315px;
    left: 450px;
}

#scotch2{
    position: absolute;
    top: 315px;
    left: 1340px;
}

#scotch3{
    position: absolute;
    top: 865px;
    left: 1340px;
}

#scotch4{
    position: absolute;
    top: 865px;
    left: 450px;
}

#scotch5{
    position: absolute;
    top: 1415px;
    left: 450px;
}

#scotch6{
    position: absolute;
    top: 1415px;
    left: 1340px;
}